{% set foto = fields.field_foto.content %}
{% set title = fields.title.content %}

<div class="col-md-6">
  <figure class="producto">
    {{ foto }}
    <figcaption>{{ title }}</figcaption>
  </figure>
</div>
